<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLK - Agenda</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/agenda.css')}}">
</head>

<body>

    <div id="app">

        <!-- HEADER -->

        <header class="topbar">

            <div class="logo">
                BLK
            </div>

            <nav>
                <a href="#" class="active">Agenda</a>
                <a href="{{url_for('clientes') }}">Clientes</a>
                <a href="#">Atendimentos</a>
                <a href="{{url_for('servicos') }}">Serviços</a>
            </nav>

        </header>

        <!-- SUB HEADER -->

        <section class="agenda-header">

            <div class="left-info">

                <h1 style="font-family: luciole;">Agenda</h1>

                <div class="legend">
                    <strong>Legenda:</strong>

                    <div class="legend-item">
                        <span class="event-circle"></span>
                        Atendimento
                    </div>
                </div>

            </div>

            <button id="openReminderModal" class="create-btn">
                Criar Lembrete
                <span>+</span>
            </button>

        </section>

        <!-- CONTEÚDO -->

        <main class="content">

            <!-- LEMBRETES -->

            <aside class="reminders-panel">

                <h2>Lembretes</h2>

                <div id="remindersList" class="reminders-list">

                    {% for dado in dados %}
                    <div class="reminder-item">
                        <br>
                        <div class="day-circle">
                            {{dado.dataservico}}
                        </div>

                        <div class="reminder-card">
                            <h3>{{dado.atendimento}}</h3>
                            <p>
                                {{dado.descricao}}
                            </p>
                        </div>


                    </div>
                    {% endfor %}

                </div>

            </aside>

            <!-- CALENDÁRIO -->

            <section class="calendar-panel">

                <div class="calendar-header">

                    <button id="prevMonth" class="nav-btn">
                        &#10094;
                    </button>

                    <h2 id="monthYear"></h2>

                    <button id="nextMonth" class="nav-btn">
                        &#10095;
                    </button>

                </div>

                <table class="calendar">

                    <thead>

                        <tr>

                            <th>Dom</th>
                            <th>Seg</th>
                            <th>Ter</th>
                            <th>Qua</th>
                            <th>Qui</th>
                            <th>Sex</th>
                            <th>Sáb</th>

                        </tr>

                    </thead>

                    <tbody id="calendarBody">

                    </tbody>

                </table>

            </section>

        </main>

    </div>

    <!-- MODAL -->

    <div id="modalOverlay" class="modal-overlay">

        <div class="modal">

            <h2>CRIAR LEMBRETE</h2>

            <form id="reminderForm" method="post" action="{{url_for('pegar_dados')}}">
                <div class="input-group">

                    <input type="date" id="date" name="data" required>

                </div>

                <div class="input-group">

                    <!--
                    Futuramente substituir por busca AJAX
                    no banco de dados.
                    -->

                    <input type="text" id="appointment" placeholder="Atendimento" name="atendimento">

                    <button type="button" class="icon-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>

                </div>

                <div class="input-group">

                    <textarea id="description" placeholder="Descrição" name="descricao"></textarea>

                </div>

                <div class="modal-actions">

                    <button type="submit" class="save-btn" name="criar_lembrente" value="salvar">
                        Criar
                    </button>

                </div>

            </form>

        </div>

    </div>

    <div id="dayTooltip" class="day-tooltip hidden"></div>

    <script>

    const lembretes = [

    {% for dado in dados %}

    {

        id: "{{ dado.id }}",

        data: "{{ dado.data }}",

        titulo: "{{ dado.atendimento }}",

        descricao: `{{ dado.descricao }}`

    },

    {% endfor %}

    ];

    </script>

    <script src="{{ url_for('static', filename='js/agenda.js') }}"></script>

</body>

</html>