<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLK Higienização - Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

    <!-- Ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <div class="login-container">

        <div class="logo">
            <h1>BLK</h1>
            <span>HIGIENIZAÇÃO</span>
        </div>

        <h2>Login</h2>

        <form method="post">
            <div class="input-group">
                <i class="fa-solid fa-user"></i>
                <input type="email" placeholder="Email" name="email">
            </div>

            <div class="input-group">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="Senha" name="senha">
                <button, type="button" class="eye-btn">
                    <i class="fa-solid fa-eye"></i>
                </button>
            </div>

            <button type="submit" class="login-btn" onclick="window.location.href='#'">
                Entrar
            </button>
        </form>

        <hr>

        <!-- <a href="#" class="recover-link">
            Recuperar Login/Senha
        </a> -->

    </div>

</body>
</html>